<div class="modal-header">
    <h4 class="modal-title">Attribute Name</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form [formGroup]="attributeForm">
    <div class="modal-body">
        <div class="form-group">
            <label>Name *</label>
            <input type="text" formControlName="name" required class="form-control">
            <ng-container
                *ngIf="attributeForm.controls.name.invalid && (attributeForm.controls.name.dirty || attributeForm.controls.name.touched)">
                <small class="text-danger" *ngIf="attributeForm.controls.name.errors.required">
                    Name required
                </small>
            </ng-container>
            <ng-container *ngIf="(attributeForm.controls.name.dirty || attributeForm.controls.name.touched)">
                <ng-container *ngIf="attributeForm.controls.name.status === 'PENDING'">
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </ng-container>
                <ng-container *ngIf="attributeForm.controls.name.errors?.nameExist">
                    <span class="text-danger">Name Exist</span>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Cancel</button>
        <button type="button" class="btn btn-danger" [disabled]="!attributeForm.valid" (click)="addAttribute()">Add</button>
    </div>
</form>