<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Edit</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink='/admin/index' routerLinkActive="active">Home</a></li>
            <li class="breadcrumb-item active"><a routerLink='/admin/manufacturers' routerLinkActive="active">Manufacturer</a>
            </li>
            <li class="breadcrumb-item active">Edit</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Fill in</h3>
      </div>
      <form [formGroup]="manufacturerForm" (ngSubmit)="onSubmit(manufacturerForm.value)">
        <div class="card-body">
          <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="name" required class="form-control">
          </div>
          <div class="form-group">
            <label>Address</label>
            <input type="text" formControlName="address" class="form-control">
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" formControlName="description" class="form-control">
          </div>
          <!-- <div class="form-group">
            <label>Img</label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="form-control-file" id="exampleInputFile">
                <label class="custom-file-label" for="exampleInputFile">Chọn file</label>
              </div>
            </div>
          </div> -->
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary float-right">Edit</button>
        </div>
      </form>
    </div>
  </section>
  <!-- /.content -->