<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Reviews</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink='/admin/index' routerLinkActive="active">Home</a></li>
            <li class="breadcrumb-item active">Reviews</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Search Bar</h5>
        <div class="card-tools">
          <button class="btn btn-tool" type="button" (click)="showSearchBar = !showSearchBar">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <ng-container *ngIf="reviews">
        <ng-container *ngIf="showSearchBar == true">
          <div class="card-body">
            <!-- <p>
        Form Value: {{ productForm.value | json }}
      </p> -->
            <form [formGroup]="reviewForm" (ngSubmit)="onSubmit(reviewForm.value)">
              <div class="form-row mb-2">
                <div class="col-4">
                  <label>Product Name</label>
                  <input type="text" formControlName="name" class="form-control">
                </div>
                <div class="col-4">
                  <label>Rating</label>
                  <input type="text" formControlName="rating" class="form-control">
                </div>
                <div class="col-4">
                  <label>Content</label>
                  <input type="text" formControlName="content" class="form-control">
                </div>
              </div>
              <div class="card-footer mt-2 d-flex justify-content-center">
  
                <button type="submit" class="btn btn-lg btn-success mr-2" [disabled]="!reviewForm.valid"><i
                    class="fas fa-search"></i> Search</button>
                <button class="btn btn-lg btn-info" (click)="resetForm()"><i class="fas fa-brush"></i> Clear all
                  field</button>
              </div>
            </form>
          </div>
        </ng-container>
      </ng-container>
  
    </div>
    <div class="card">
      <div class="card-body">
        <ng-container *ngIf="reviews">
          <!-- https://material.angular.io/components/table/examples -->
          <table cdk-table [dataSource]="reviews" class="table table-hover projects">
  
            <!-- Id Column -->
            <ng-container cdkColumnDef="id">
              <th cdk-header-cell *cdkHeaderCellDef style="width: 16.6666666667%"> Id </th>
              <td cdk-cell *matCellDef="let reviews"> {{reviews.id}} </td>
            </ng-container>
  
            <ng-container cdkColumnDef="name">
              <th cdk-header-cell *cdkHeaderCellDef style="width: 16.6666666667%"> Product name </th>
              <td cdk-cell *matCellDef="let reviews">{{reviews.productEntity.name}}</td>
            </ng-container>
  
            <!-- Name Column -->
            <ng-container cdkColumnDef="rating">
              <th cdk-header-cell *cdkHeaderCellDef style="width: 16.6666666667%"> Rating </th>
              <td cdk-cell *cdkCellDef="let reviews"> {{reviews.rating}} </td>
            </ng-container>
  
            <!-- Des Column -->
            <ng-container cdkColumnDef="content">
              <th cdk-header-cell *cdkHeaderCellDef style="width: 16.6666666667%"> Content </th>
              <td cdk-cell *cdkCellDef="let reviews"> {{reviews.content}} </td>
            </ng-container>

            <ng-container cdkColumnDef="status">
                <th cdk-header-cell *cdkHeaderCellDef style="width: 16.6666666667%"> Status </th>
                <td cdk-cell *cdkCellDef="let reviews"> 
                    <span class="badge" [ngClass]="reviews.approved ? 'badge-primary': 'badge-danger'">{{reviews.approved ? 'Show': 'Hidden'}}</span> 
                </td>
              </ng-container>
  
            <!-- Action Column -->
            <ng-container cdkColumnDef="action">
              <th cdk-header-cell *cdkHeaderCellDef style="width: 16.6666666667%"> Action </th>
              <td cdk-cell *cdkCellDef="let reviews">
                <a href="javascript:void(0)" class="btn btn-info btn-sm" (click)="toggleReview(reviews.id)">
                  <i class="fas fa-pencil-alt">
                  </i>
                  Change status
                </a>
              </td>
            </ng-container>
  
            <tr cdk-header-row *cdkHeaderRowDef="columnsToDisplay"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: columnsToDisplay;"></tr>
          </table>
        </ng-container>
        <!-- <app-paginator [currentPage]="currentPage" [totalPage]="totalPage" (pageChanged)="onPageChanged($event)"></app-paginator> -->
        <ngb-pagination [(page)]="currentPageDisplay" [pageSize]="entries" [maxSize]="3" [rotate]="true"
          [boundaryLinks]="true" [collectionSize]="collectionSize" (pageChange)="onPageChanged($event)"></ngb-pagination>
      </div>
    </div>
  </section>
  <!-- /.content -->