<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/admin/index" class="brand-link">
    <img src="assets/logo.jpg" alt="AdminLTE Logo" class="brand-image"
      style="opacity: .8">
    <span class="brand-text font-weight-light">Thắng Shopping</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/download2.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Admin</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a routerLink="/admin/index" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Index
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/manufacturers" class="nav-link">
            <i class="nav-icon fas fa-industry"></i>
            <p>
              Manufacturer
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/categories" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Category
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/products" class="nav-link">
            <i class="nav-icon fab fa-product-hunt"></i>
            <p>
              Product
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/attributes" class="nav-link">
            <i class="nav-icon fas fa-glass-whiskey"></i>
            <p>
              Attribute
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/orders" class="nav-link">
            <i class="nav-icon fas fa-shopping-cart"></i>
            <p>
              Order
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/promotions" class="nav-link">
            <i class="nav-icon fas fa-percent"></i>
            <p>
              Promotion
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/blogs" class="nav-link">
            <i class="nav-icon fas fa-shapes"></i>    
            <p>
              Blog
            </p>
          </a>
        </li>
        
        <li class="nav-item">
          <a routerLink="/admin/reviews" class="nav-link">
            <i class="nav-icon fab fa-creative-commons-sampling"></i>
            <p>
              Review
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/reports" class="nav-link">
            <i class="nav-icon fas fa-file-alt"></i>
            <p>
              Report
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>